.flex-container-column {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
}

.flex-container-row {
    display: flex;
}

.button {
    cursor: pointer;
    flex-basis: 25%;
    font-size: 1rem;
    text-align: center;
    background-color: #000;
    color: #F8F8FF;
    padding: 30px;
    border: 1px solid rgb(218,218,218);
    background: -webkit-linear-gradient(center, #ff0000, rgb(199,3,3));
    border-radius: 5px;
}

.double {
    flex-basis: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

.display {
    color: #F8F8FF;
    width: 100%;
    padding: 10px 20px;
    background-color: #000;
    /* border: 1px solid rgb(248,248,248)   */
    border: none;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 10px;
}

.operator, .negative, .equals {
    background-color: #000;
    color: #F8F8FF;
    border-radius: 5px;
}

.button:hover {
    font-weight: bold;
    background-color: burlywood;
}

/* button kalkulator */

.button {
    padding: 40px 10px;
}